<footer style="margin-top: auto;background-color: black" class="footer ">
    <div class="content has-text-centered ">
        <p style="color: white;">
            {{!-- All models appearing on this website are 18 years or older. --}}
            Agree <a href="/terms" style="color: rgb(108, 108, 148);">terms & conditions</a> to know about the company policy
            <br>
            <br>
            <strong><a href="/" style="color:#c0b7b7 ;">YAPGLOW</a></strong><a href="/"></a>.© 2022</a>
        </p>
    </div>
</footer>