<style>
     h1 {
            color: #ffffff;
            font-family: "Trebuchet MS", sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10.5pt;
        }
</style>
<br>
<div class="container p-2 box has-text-centered	" style=" background-color: black;">
<br>
 <h1 class="has-text-centered"   style="font-size:30px; padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">About YAPGLOW</h1>    <p style="color:rgb(236, 226, 226) ;" class="m-3 p-3">YAPGLOW is committed to bringing people together and making it possible for everyone to share their wonderful moments. Our platform aspires to empower a new generation of users with an exciting new social language where they can display, discover, and remain connected in a positive and creative online environment with a vision to be a content platform that inspires millions of people's lives.
<br>
<br>
A world where work is simpler, learning while doing it is seamless, knowledge-sharing strengthens teams, and no one is held back by a lack of information.<br>
<br>

Transparency and inclusivity are essential. We aggressively encourage and recruit individuals with a variety of backgrounds, experiences, skills, and viewpoints to join our team. Why does that matter? It implies that each day at work, you can be your most authentic self. This implies that you don't have to check off every single box to be a strong candidate. We are stronger as a team because of the diverse backgrounds and industries that make up our team. If you meet some of the qualifications and adhere to our basic beliefs, we invite you to apply.    <br>
    </p>
</div>